html {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #cfc6f5;
}
body {
	margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Grenze Gotisch', cursive;
}
#header {
	display: flex;
	justify-content: space-between;
    text-align: center;
    color: rgb(0, 37, 37);
    font-family:  'Indie Flower', cursive;
    margin-bottom: 10px;
}
#header section{
	-ms-align-self: flex-end;
	align-self: flex-end;
	padding-right: 10px;
	font-size: 16px;
	color: rgb(32, 9, 54);
}
#header button{
	-ms-align-self: flex-end;
	align-self: flex-end;
	padding: 2px;
	outline: none;
	border: none;
	background-color: transparent;
	color: rgba(0, 0, 255, 0.76);
	font-family: "Lucida Console", Monaco , monospace;
}
#header i{
	font-size: 1.5rem;
	padding: 10px;
	-ms-align-self: flex-end;
	align-self: flex-end;
}
#header i:hover{
	transform: scale(1.1);
}
#header button:hover{
	transform: scale(1.1);
	color: dodgerblue;
}
#header p {
	-ms-align-self: flex-end;
	align-self: flex-end;
	font-family: monospace;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 5px;
}
#header p:hover{
	transform: scale(1.1);
	color: purple;
}
#main {
	width: 920px;
	height: 460px;
    padding: 7px;
    background-color: rgb(14, 0, 24);
    display: grid;
} 
.gridstyle {
	border-radius: 1px;
    background-color: rgb(228, 62, 62);   
}
.hoverBlack{
	background-color: black;
}
.hoverBlue{
	background-color: blue;
}